@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: 
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: 
    local("Gilroy-ExtraBold"),
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
}
html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }
body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(70, 70, 70, 1.00);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1160px;
  margin: 0px auto;
}
.visual-hidden:not(:focus):not(:active),
input[type="checkbox"].visual-hidden,
input[type="radio"].visual-hidden {
  position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  white-space: nowrap;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px; 
  max-width: 100%;
  padding: 11px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1.00);
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  background: 0;
  border: none;
}
.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);   
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}
.btn:hover::after,
.btn:focus::after {
  height: 100%;
}
.btn:hover,
.btn:focus {
  outline: none;
  cursor: pointer;
}
.btn:active {
  color: rgba(0, 0, 0, 0.30);
}
.header-logo[href="index.html"]:hover,
.header-logo[href="index.html"]:focus,
.footer-logo[href="index.html"]:hover,
.footer-logo[href="index.html"]:focus {
  opacity: 0.6;
  outline: none;
}
.header-logo[href="index.html"]:active,
.footer-logo[href="index.html"]:active {
  opacity: 0.3;
}
.page-header {
  position: relative;
  min-height: 186px;
  margin-top: 40px;
  margin-bottom: 37px;
  padding: 0 60px;
  padding-top: 33px;
  background-color: rgba(247, 226, 150, 1.00);
}
.main-header {
  min-height: 300px;
  margin-bottom: 0px;
}
.user-nav,
.commerce-nav,
.main-menu,
.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-logo {
  position: absolute;
  top: -19px;
  width: 164px;
  height: 36px;
}
.page-header a {
  color: rgba(0, 0, 0, 1.00);
}
.page-header a:hover,
.page-header a:focus {
  opacity: 0.6;
  outline: none;
}
.page-header a:active {
  opacity: 0.3;
}
.page-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 32px;
}
.nav-wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-nav li {
  margin-left: 25px;
}
.commerce-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.commerce-nav li {
  margin-left: 63px;
}
.search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 440px;
}
.search-form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 19px;
  padding-left: 40px;
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
  border: none;
  background-color: transparent;
  opacity: 0.4;
}
.search-form::before {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}
.search-form input:hover {
  opacity: 0.8;
}
.search-form input:focus {
  outline: none;
  opacity: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 1.00);
}
.search-hidden {
  padding: 5px 19px;
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
  border: none;
  border: 2px solid rgba(0, 0, 0, 1.00);
  background-color: transparent;
  opacity: 0;
/*  visibility: hidden;*/
}
.search-form input:focus ~ .search-hidden,
.search-hidden:focus {
  opacity: 1;
/*  visibility: visible;*/
}
.search-hidden:hover,
.search-hidden:focus {
  color: rgba(255, 255, 255, 1.00);
  background-color: rgba(0, 0, 0, 1.00);
  outline: none;
/*  visibility: visible;*/
}
.search-hidden:active {
  color: rgba(255, 255, 255, 0.30);
}
.user-nav,
.commerce-nav {
  line-height: 36px;
}
.user-nav a,
.commerce-nav a {
  position: relative;
}
.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  width: 13px;
  height: 12px;
  margin-top: -6px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}
.page-header .logout {
  opacity: 0.3;
}
.compare::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 10px;
  height: 10px;
  margin-top: -4px;
  background-image: url(../img/compare.svg); 
  background-repeat: no-repeat;
}
.cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background-image:url(../img/cart.svg); 
  background-repeat: no-repeat;
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-menu > li:not(.main-menu-catalog):not(:last-child) {
  margin-right: 37px;
}
.main-menu > li:last-child {
  margin-left: 66px;
}
.main-menu-catalog {
  position: relative;
  margin-right: auto;
  padding-right: 28px;
}
.main-menu-catalog::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}
.sub-menu-wrapper {
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 1;
  display: none;
  width: 1160px;
  min-height: 168px;
  padding: 0 60px;
  padding-top: 25px;
  background-color: rgba(247, 226, 150, 1.00);
}
.main-menu-catalog:hover .sub-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-menu {
  min-width: 140px;
  margin-right: 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}
.promo {
  position: relative;
  margin-top: -113px;
  margin-bottom: 98px;
  overflow: hidden;
}
.promo-slide-controls {
  position: absolute;
  right: 67px;
  bottom: 146px;
  z-index: 1;
}
.promo label {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  margin-right: 16px;
  vertical-align: baseline;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 50% 50%;
  cursor: pointer;
}
.promo-slide-btn:nth-of-type(1):checked ~ .promo-slide-controls :nth-child(1) {
  background-image: url(../img/slider-button.svg);
}
.promo-slide-btn:nth-of-type(1):focus ~ .promo-slide-controls :nth-child(1) {
  outline: auto;
}
.promo-slide-btn:nth-of-type(2):focus ~ .promo-slide-controls :nth-child(2) {
  outline: auto;
}
.promo-slide-btn:nth-of-type(3):focus ~ .promo-slide-controls :nth-child(3) {
  outline: auto;
}
.promo-slide-btn:nth-of-type(2):checked ~ .promo-slide-controls :nth-child(2) {
  background-image: url(../img/slider-button.svg);
}
.promo-slide-btn:nth-of-type(3):checked ~ .promo-slide-controls :nth-child(3) {
  background-image: url(../img/slider-button.svg);
}
.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.promo-list .promo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease;
  -o-transition: visibility 0.8s ease;
  transition: visibility 0.8s ease;
}
.promo-slide-btn:nth-of-type(1):checked ~ .promo-list {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
.promo-slide-btn:nth-of-type(2):checked ~ .promo-list {
  -webkit-transform: translateX(-1160px);
      -ms-transform: translateX(-1160px);
          transform: translateX(-1160px);
}
.promo-slide-btn:nth-of-type(3):checked ~ .promo-list {
  -webkit-transform: translateX(-2320px);
      -ms-transform: translateX(-2320px);
          transform: translateX(-2320px);
}
.promo-slide-btn:nth-of-type(1):checked ~ .promo-list > :nth-child(1) {
  visibility: visible;
}
.promo-slide-btn:nth-of-type(2):checked ~ .promo-list > :nth-child(2) {
  visibility: visible;
}
.promo-slide-btn:nth-of-type(3):checked ~ .promo-list > :nth-child(3) {
  visibility: visible;
}
.promo-img {
  margin: auto;
}
.promo-description {
  position: relative;
  width: 560px;
  margin-left: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.promo-number {
  position: absolute;
  top: -13px;
  right: 47px;
  z-index: -1;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 1.00);
}
.promo-description p {
  margin: 0;
  margin-bottom: 42px;
}
.promo-description .promo-tagline {
  position: relative;
  margin-top: 82px;
  margin-bottom: 21px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.promo-tagline::before {
  content: "";
  position: absolute;
  top: -44px;
  width: 100px;
  height: 7px;
  background-color: rgba(255, 255, 255, 1.00);
}
.promo-description .btn {
  padding: 11px 42px;
  margin-bottom: 57px;
}
.promo-table {
  border-collapse: collapse;
}
.promo-table th {
  padding: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.promo-table td {
  padding: 0;
  padding-right: 77px;
  padding-bottom: 13px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 186px;
  list-style: none;
}
.products-item {
  width: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.products-item a {
  position: relative;
  display: block;
  padding-top: 196px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 1.00);
  letter-spacing: 0.009em;
  outline: none;
}
.products-item a::before,
.products-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}
.products-item a::before {
  background-color: rgba(240, 197, 46, 0.50);
}
.products-item a::after {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.products-item:nth-child(1) a::after {
  background-image: url(../img/popular-1.svg);
}
.products-item:nth-child(2) a::after {
  background-image: url(../img/popular-2.svg);
  background-position: 38px 41px;
}
.products-item:nth-child(3) a::after {
  background-image: url(../img/popular-3.svg);
  background-position: 49px 38px;
}
.products-item:nth-child(4) a::after {
  background-image: url(../img/popular-4.svg);
  background-position: 28px 50px;
}
.products-item:nth-child(5) a::after {
  background-image: url(../img/popular-5.svg);
  background-position: 55px 32px;
}
.products-item:nth-child(6) a::after {
  background-image: url(../img/popular-6.svg);
  background-position: 13px 49px;
}
.products-item a:hover::before,
.products-item a:focus::before {
  background-color: rgba(240, 197, 46, 1.00);
}
.products-item a:active {
  color: rgba(0, 0, 0, 0.30);
}
.products-item a:active::after {
  opacity: 0.3;
}
.services {
  min-height: 288px;
  margin-bottom: 94px;
  background-color: rgba(229, 229, 229, 1.00);
}
.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services-slide-controls {
  position: relative;
  width: 284px;
  margin-right: 116px;
  margin-top: -100px;
  padding-top: 80px;
  padding-bottom: 46px;
  border-right: 7px solid rgba(0, 0, 0, 1.00);
}
.services-slide-controls .btn {
  margin-bottom: 24px;
  padding: 11px 15px;
  cursor: pointer;
}
.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1) {
  width: 100%;
  padding-right: 132px;
  color: rgba(247, 225, 132, 1.00);
}
.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1):after {
  background-color: rgba(0, 0, 0, 1.00);
  height: 100%;
}
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2) {
  width: 100%;
  padding-right: 132px;
  color: rgba(247, 225, 132, 1.00);
}
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2):after {
  background-color: rgba(0, 0, 0, 1.00);
  height: 100%;
}
.services-slide-btn:nth-child(3):checked ~ .services-slide-controls .btn:nth-child(3) {
  width: 100%;
  padding-right: 132px;
  color: rgba(247, 225, 132, 1.00);
}
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3):after {
  background-color: rgba(0, 0, 0, 1.00);
  height: 100%;
}
.services-list {
  margin: 0;
  margin-top: -28px;
  padding: 0;
  list-style: none;
}
.services-item {
  position: relative;
  display: none;
  width: 460px;
}
.services-slide-btn:nth-child(1):checked ~ .services-list :nth-child(1) {
  display: block;
}
.services-slide-btn:nth-child(2):checked ~ .services-list :nth-child(2) {
  display: block;
}
.services-slide-btn:nth-child(3):checked ~ .services-list :nth-child(3) {
  display: block;
}
.services-item::after {
  content: "";
  position: absolute;
}
.services-item:nth-child(1)::after {
  width: 136px;
  height: 164px;
  top: 12px;
  right: -234px;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
}
.services-item:nth-child(2)::after {
  width: 171px;
  height: 195px;
  top: -12px;
  right: -254px;
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
}
.services-item:nth-child(3)::after {
  width: 156px;
  height: 188px;
  top: -12px;
  right: -230px;
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
}
.services-title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1.00);
}
.services-item p {
  letter-spacing: 0.02em;
}
.brands {
  margin-bottom: 85px;
}
.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.brands-item {
  width: 260px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.brands-link {
  position: relative;
  display: block;
}
.brands-link :last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}
.brands-link:hover :last-child,
.brands-link:focus :last-child {
  z-index: 1;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .section-title {
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.wrapper .section-title::before {
  content: "";
  position: absolute;
  top: -53px;
  width: 80px;
  height: 7px;
  background-color: rgba(0, 0, 0, 1.00);
}
.about-us {
  width: 475px;
  margin-right: auto;
  padding-top: 52px;
}
.about-us p {
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 0;
}
.about-us ul {
  padding: 0;
  margin: 0;
  margin-top: 66px;
  margin-bottom: 54px;
  margin-left: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1.00);
  list-style: none;
}
.about-us li {
  position: relative;
}
.about-us li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border: 2px solid rgba(229, 229, 229, 1.00);
  border-radius: 50%;
}
.contacts {
  width: 560px;
  padding-top: 52px;
}
.contacts p {
  margin: 0;
  margin-bottom: 39px;
  letter-spacing: 0;
}
.contacts-map {
  position: relative;
  display: block;
  margin-bottom: 69px;
  line-height: 0;
}
.contacts-map iframe {
  position: absolute;
}
.contacts-map img {
  width: 560px;
  height: 222px;
}
.about-us .btn, 
.contacts .btn {
  min-width: 260px;
  margin-bottom: 78px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 960px;
  background-color: rgba(255, 255, 255, 1.00);
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.20);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.20);
  visibility: hidden;
}
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: rgba(240, 197, 46, 0.50);
  border-radius: 50%;
  outline: none;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 2px;
  margin-left: -16px;
  margin-top: -1px;
  background-color: rgba(255, 255, 255, 1.00);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1.00);
}
.modal-close:active {
  background-color: rgba(240, 197, 46, 0.30);
}
.modal-feedback {
  padding: 0 100px;
  padding-top: 96px;
  padding-bottom: 78px;
  -webkit-box-shadow: 0 20px 40px rgba(4, 6, 6, 0.75);
          box-shadow: 0 20px 40px rgba(4, 6, 6, 0.75);
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition-property: visibility, -webkit-transform;
  transition-property: visibility, -webkit-transform;
  -o-transition-property: visibility, transform;
  transition-property: visibility, transform;
  transition-property: visibility, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s, 0.2s;
       -o-transition-duration: 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s;
}
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback p {
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}
.feedback .feedback-message {
  width: 100%;
  margin-bottom: 42px;
}
.feedback-message textarea {
  height: 155px;
}
.feedback label {
  display: block;
  padding-bottom: 11px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1.00);
}
.feedback input,
.feedback textarea {
  width: 100%;
  padding: 12px 17px;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.40);
  border: 3px solid transparent;
  background-color: rgba(229, 229, 229, 0.50);
  outline: none;
}
.feedback input:invalid {
  background-color: rgba(237, 181, 181, 0.50);
}
.feedback input:hover,
.feedback textarea:hover {
  background-color: rgba(229, 229, 229, 0.80);
}
.feedback input:focus,
.feedback textarea:focus {
  color: rgba(70, 70, 70, 1.00);
  background-color: transparent;
  border: 3px solid rgba(240, 197, 46, 0.50);
}
.feedback .btn {
  padding: 10px 35px;
}
.modal-map {
  height: 559px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.modal-map p {
  margin: 0;
}
.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-show {
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s, 0.4s;
       -o-transition-duration: 0.4s, 0.4s;
          transition-duration: 0.4s, 0.4s;
}
/*каталог*/
.page-title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 40px;
  list-style: none;
  cursor: default;
}
.breadcrumbs :not(:last-child) {
  position: relative;
  margin-right: 39px;
}
.breadcrumbs :not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -21px;
  width: 4px;
  height: 7px;
  margin-top: -3px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}
.breadcrumbs :nth-child(n) {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.30);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.60);
  outline: none;
}
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.10);
}
.filter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 328px;
  background-color: rgba(238, 238, 238, 1.00);
}
.filter-title {
  padding: 27px 0;
  padding-left: calc(100% - 268px);
  margin: 0;
  margin-bottom: 69px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.08);
}
.filter-form {
  width: 200px;
  margin-left: auto;
  padding-top: 12px;
  margin-right: 70px;
  border-top: 2px solid rgba(0, 0, 0, 1.00);
}
.filter-form fieldset {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 31px;
  line-height: 0;
  border: none;
}
.filter-form fieldset:not(:last-of-type) {
  margin-bottom: 12px;
  border-bottom: 2px solid rgba(0, 0, 0, 1.00);
}
.filter-form legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.filter-form label {
  display: block;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1.00);
}
.filter-cost label,
.filter-cost input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22.27px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.20);
}
.filter-cost .range-controls {
  position: relative;
  height: 29px;
  padding-top: 17px;
  padding-bottom: 10px;
}
.range-controls .scale {
  height: 2px;
  background-color: rgba(219, 219, 219, 1.00);
}
.scale .bar {
  width: 110px;
  height: 2px;
  background-color: rgba(145, 201, 47, 1.00);
}
.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: -4px;
  width: 20px;
  height: 20px;
  background-color: rgba(171, 171, 171, 1.00);
  border: 8px solid rgba(255, 255, 255, 1.00);
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px 0 rgba(218, 218, 218, 1.00);
          box-shadow: 0 2px 1px 0 rgba(218, 218, 218, 1.00);
}
.range-controls .toggle-max {
  left: 109px;
}
.range-controls .toggle:hover {
  top: 7px;
  left: -5px;
  width: 22px;
  height: 22px;
  border-width: 9px;
}
.range-controls .toggle-max:hover {
  left: 108px;
}
.filter-cost label {
  display: inline-block;
  width: 66px;
  margin-right: 20px;
  margin-bottom: 2px;
  vertical-align: baseline;
}
.filter-cost input {
  width: 45px;
  border: none;
  background: none;
}
.filter-color label {
  position: relative;
  padding-left: 40px;
}
.filter-color label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}
.filter-color input:checked + label::before {
  background-image:url(../img/checkbox-on.svg);
}
.filter-color label:hover::before,
.filter-color input:focus + label::before {
  opacity: 0.6;
}
.filter-color input:disabled + label {
  color: rgba(166, 166, 166, 1.00);
}
.filter-color input:disabled + label::before {
  opacity: 0.25;
}
.filter-bluetooth label {
  position: relative;
  padding-left: 40px;
}
.filter-bluetooth label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}
.filter-bluetooth input:checked + label::before {
  background-image:url(../img/radio-on.svg);
}
.filter-bluetooth label:hover::before,
.filter-bluetooth input:focus + label::before {
  opacity: 0.6;
}
.filter-bluetooth input:disabled + label {
  color: rgba(166, 166, 166, 1.00);
}
.filter-bluetooth input:disabled + label::before {
  opacity: 0.25;
}
.filter .btn {
  padding: 11px 43px;
}
.catalog {
  width: 832px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.catalog-top {
  padding-left: 72px;
  background-color: rgba(0, 0, 0, 0.08);
}
.sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 26px 0;
  padding-left: 72px;
  padding-right: calc(100% - 832px);
  margin-bottom: 69px;
  background-color: rgba(0, 0, 0, 0.08);
}
.sorting-title {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
.sorting-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 560px;
  margin: 0;
  padding: 0;
  line-height: 0;
  list-style: none;
}
.sorting-list > :nth-last-child(n+2) {
  margin-right: 30px;
}
.sorting-list > :nth-last-child(2) {
  margin-left: auto;
}
.sorting-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.30);
  outline: none;
}
.sorting-ascend::before,
.sorting-descend::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 0;
  height: 0;
  border: 10px solid rgba(35, 31, 32, 0.20);
  border-right-width: 5.5px;
  border-left-width: 5.5px;
  border-right-color: transparent;
  border-left-color: transparent;
}
.sorting-descend::before {
  border-bottom-width: 0;
}
.sorting-ascend::before {
  border-top-width: 0;
  right: 30px;
}
.sorting-btn:hover,
.sorting-btn:focus {
  color: rgba(0, 0, 0, 0.60);
}
.sorting-btn:hover::before,
.sorting-btn:focus::before {
  border-color: rgba(35, 31, 32, 0.40);
  border-right-color: transparent;
  border-left-color: transparent;
}
.sorting-btn:active {
  color: rgba(0, 0, 0, 1.00);
}
.sorting-btn:active::before {
  border-color: rgba(35, 31, 32, 1.00);
  border-right-color: transparent;
  border-left-color: transparent;
}
.catalog-list {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  list-style: none;
}
.catalog-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 360px;
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  line-height: 0;
}
.catalog-title {
  width: 260px;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 1.00);
  letter-spacing: 0.01em;
}
.catalog-item span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
}
.add-compare-btn {
  display: inline-block;
  min-width: 200px; 
  max-width: 100%;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  vertical-align: top;
}
.add-compare-btn:hover,
.add-compare-btn:focus {
  color: rgba(0, 0, 0, 1.00);
  outline: none;
}
.add-compare-btn:active {
  color: rgba(0, 0, 0, 0.20);
}
.catalog-img {
  position: relative;
  margin-bottom: 34px;
}
.catalog-img img {
  width: 360px;
  height: 380px;
}
.catalog-hidden {
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 172px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(238, 238, 238, 0.70);
}
.catalog-hidden .btn {
  padding: 11px 37px;
  margin-bottom: 6px;
}
.catalog-item:hover .catalog-hidden {
  display: block;
}
.catalog-new::after{  
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.20);
  border: 2px solid rgba(0, 0, 0, 0.10);
  border-radius: 50%;
}
.pagination {
  width: 760px;
  margin-left: 72px;
  margin-top: -10px;
  margin-bottom: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination a {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}
.pagination-back,
.pagination-next {
  padding: 27px 30px;
  color: rgba(0, 0, 0, 1.00);
}
.pagination-next {
/*   padding-right: 27px; */
}
.pagination-back:hover,
.pagination-back:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: rgba(0, 0, 0, 0.08);
  outline: none;
}
.pagination-next:active,
.pagination-back:active {
  color: rgba(0, 0, 0, 0.30);
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  list-style: none;
}
.pagination-number {
  padding: 27px 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.30);
  vertical-align: baseline;
}
.pagination-number:hover,
.pagination-number:focus {
  color: rgba(0, 0, 0, 0.60);
}
.pagination-number:active {
  color: rgba(0, 0, 0, 1.00);
}
.current {
  color: rgba(0, 0, 0, 1.00);
  opacity: 1;
}
.current::before {
  border-color: rgba(35, 31, 32, 1.00);
  border-right-color: transparent;
  border-left-color: transparent;
}
.page-footer {
  margin-top: 4px;
  padding-top: 61px;
  color: rgba(255, 255, 255, 1.00);
  background-color: rgba(70, 70, 70, 1.00);
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}
.footer-logo {
  margin-right: auto;
  padding-top: 4px;
  line-height: 0;
}
.footer-top a {
  color: rgba(255, 255, 255, 0.70);
}
.footer-top .login::before {
  background-image: url(../img/footer-user.svg);
}
.footer-top .compare::before {
  background-image: url(../img/footer-compare.svg);
}
.footer-top .cart::before {
  background-image: url(../img/footer-cart.svg);
}
.footer-top a:hover,
.footer-top a:focus {
  color: rgba(255, 255, 255, 1.00);
  outline: none;
}
.footer-top a:hover::before,
.footer-top a:focus::before {
  opacity: 0.6;
}
.footer-top a:active {
  color: rgba(255, 255, 255, 0.30);
}
.footer-top a:active::before {
  opacity: 0.3;
}
.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 62px;
}
.footer-middle p {
  margin: 0;
  letter-spacing: 0;
}
.footer-menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.footer-menu li {
  margin-right: 36px;
}
.footer-menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1.00);
  text-transform: uppercase;
  vertical-align: middle;
}
.footer-menu a:hover,
.footer-middle a:focus {
  color: rgba(255, 255, 255, 0.60);
  outline: none;
}
.footer-middle a:active {
  color: rgba(255, 255, 255, 0.30);
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 67px;
}
.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-top: 13px;
  background-color: rgba(255, 198, 0, 1.00);
}
.footer-social {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
}
.footer-social li:not(:last-child) {
  margin-right: 22px;
}
.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  outline: none;
  background-repeat: no-repeat;
}
.social-fb {
  background-image: url(../img/fb.svg);
}
.social-i {
  background-image: url(../img/instagram.svg);
}
.social-tw {
  background-image: url(../img/twiter.svg);
}
.social-btn:hover,
.social-btn:focus {
  opacity: 0.6;
}
.social-btn:active {
  opacity: 0.1;
}
.copyright {
  display: block;
  width: 27px;
  margin-left: 53px;
  height: 35px;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  outline: none;
}
.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}
.copyright:active {
  opacity: 0.3
}